@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiserverSiteCommerce.Models.Pages.StandardPageThird

<div>
    <h1>@Html.PropertyFor(m => m.Heading)</h1>

    <div>@Html.PropertyFor(m => m.MainBody)</div>
</div>